@font-face {
  font-family: "iconfont"; /* Project id 3780072 */
  src: url('iconfont.woff2?t=1669018981205') format('woff2'),
       url('iconfont.woff?t=1669018981205') format('woff'),
       url('iconfont.ttf?t=1669018981205') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-xiangyou:before {
  content: "\e860";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-fangdajing:before {
  content: "\e687";
}

.icon-shouji:before {
  content: "\e60e";
}

